$primary-color: #9c27b0;
$primary-color-variant: #00f;
$background-color: #333;
$background-color-variant: #121212;
$border-color: rgba(255, 255, 255, 0.12);
$text-primary: #fff;
$text-secondary: rgbs(255, 255, 255, 0.7);
//buttons

$button-text-hover: rgbs(255, 255, 255, 0.08);
$active-text-color: #be2e2e;
