$primary-color: #9c27b0;
$primary-color-variant: #00f;
$background-color: #ffffff;

$border-color: rgba(0, 0, 0, 0.12);
$text-primary: rgba(0, 0, 0, 0.87);
$text-secondary: rgba(0, 0, 0, 0.6);
$text-variant: #232121;

$button-text-hover: rgbs(0, 0, 0, 0.04);

$active-text-color: #bb1111;
