$primary-color: #9c27b0;
$primary-color-variant: #00f;
$background-color: #ffffff;
$background-color-variant: rgb(201, 199, 201);
$text-color: #000000;
$text-variant: #232121;
$active-text-color: #bb1111;
