@import 'colorVariables';
@import 'mediaScreen';
.home {
	@media screen and (max-width: $breakpoint-ipadAir) {
		background-color: $primary-color;
	}
	.profile {
		display: none;

		@media screen and (min-width: $breakpoint-xlarge) {
			display: flex;
		}
	}
	.main {
		@media screen and (max-width: $breakpoint-ipadAir) {
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
		}

		.main-body-wrapers {
			@media screen and (max-width: $breakpoint-ipadAir) {
				margin: 30px 30px 0;

				border-radius: 8px;
			}
			&.search-wraper {
				background-color: $body-background-color;
				padding: 30px;
			}
			&.jobs-wraper {
			}
			.job-list {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				.job-card {
					@media screen and (max-width: $breakpoint-ipadAir) {
						flex: 1;
					}
					flex-basis: 56%;
					position: relative;
					.card {
						@media screen and (max-width: $breakpoint-small) {
							display: flex;
							flex-flow: column nowrap;
							align-items: center;
						}
						border: 1px solid #e0e0e0;
						border-radius: 8px;
						box-shadow: 0px 2px 6px rgbs(0, 0, 0, 0.15);
						padding: 16px;
						margin-bottom: 32px;
						background-color: $body-background-color;
						display: flex;
						flex-flow: row nowrap;
						opacity: 0;
						animation: fade-in 0.5s ease-in forwards;

						@keyframes fade-in {
							0% {
								opacity: 0;
								background-color: #e0e0e0;
								box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
							}
							25% {
								opacity: 0.25;
								box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
							}
							50% {
								opacity: 0.5;
								box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
							}
							100% {
								opacity: 1;
								box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
							}
						}
						button {
							border: none;

							margin: 8px;

							transition: background-color 0.3s ease;
							&:hover {
								background-color: $primary-color-dark;
							}
						}

						.job-details {
							margin: 0;
							padding: 0;
							h3 {
								padding: 0;
								margin: 0;
							}
							p {
								margin-bottom: 8px;
							}
						}
						.application-action {
							height: 30px;
							display: flex;
							flex-flow: row nowrap;
							gap: 20px;
							align-items: center;
						}
					}
					.pagination {
						button {
							@media screen and (max-width: $breakpoint-small) {
								color: $text-color-dark;
								background-color: $text-color-white;
							}
							color: $text-color-white;
							background-color: #a3a3a3;
						}
					}
				}
			}
			.gov-jobsCard {
				@media screen and (max-width: $breakpoint-small) {
					display: none;
				}
				@media screen and (max-width: $breakpoint-ipadAir) {
					flex: 1;
				}
				flex-basis: 42%;

				margin: 0;
				.decimilar {
					display: flex;
					flex-flow: column;
					align-items: center;
					h3 {
						padding: 0;
						margin: 0;
						color: $accent-color;
					}
					p {
						font-style: italic;
					}
				}
				.gov-jobs {
					text-align: center;
				}
				.gov-card {
					border: 1px dotted $primary-color-light;
					margin-bottom: 32px;
					padding: 16px;
					border-radius: 8px;
					.apply-link {
						color: $text-color-white;
						box-shadow: '0 2px 4px rgba(0, 0, 0, 0.2)';
						border-radius: '4px';
					}
				}
				.pagination {
					display: flex;
					flex-flow: row nowrap;
					.skip-menu {
						background-color: $primary-color-dark;
					}
					button {
						color: $text-color-white;
						background-color: #a3a3a3;
						&.active {
							background-color: $primary-color-dark;
						}
					}
				}
			}
		}

		.search {
			@media screen and (max-width: $breakpoint-small) {
				display: flex;
				flex-flow: row nowrap;
			}
			.search-layout {
				position: relative;

				.main-search {
					@media screen and (max-width: $breakpoint-small) {
						width: 100%;
						display: flex;
						flex-flow: row nowrap;
						justify-content: center;
						align-items: center;

						gap: 0;
						.main-search-input {
							flex-basis: 80%;

							input {
								width: 100%;
								padding: 9px;
								border: 1px solid #333;
								border-radius: 8px;
								border-top-right-radius: 0;
								border-bottom-right-radius: 0;
							}
						}
						.search-btn {
							flex-basis: 20%;
							button {
								width: 90%;
								padding: 10px 5px;
								border-top-left-radius: 0;
								border-bottom-left-radius: 0;
							}
						}
					}
				}
			}
			.filter-inputs {
				display: none;
			}
		}
	}
}
