@import 'mediaScreen';
@import 'colorVariables.scss';
form {
	display: flex;

	.information-form-content-sm-wraper {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}
}
