@import 'mediaScreen';
@import 'colorVariables';
@media screen and (max-width: $breakpoint-small) {
	.login {
		min-width: 100vw;
		min-height: 100vh;
		display: flex;
		margin-bottom: 100px;

		.welcome-info {
			display: none;
		}
		.welcome-info-login {
			min-width: 100vw;
			min-height: 100vh;
			input {
				margin: 5px 0;
				border: 1px solid #777;
			}
		}
		.welcome-info-b {
			display: none;
		}
	}
}
@media screen and (max-width: 1190px) {
	.login {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.login {
		flex-direction: column;
		height: auto;
	}

	.welcome-info {
		flex-basis: auto;
		background-image: none;
		padding: 30px;
	}

	.welcome-info-login {
		flex-basis: auto;
		margin-top: 20px;
		align-items: stretch;
		justify-content: stretch;

		.login-sign-signup-container {
			max-height: none;
			min-width: none;
			height: auto;
			width: 100%;

			.login-signup-header {
				margin-bottom: 10px;
			}

			.sign-out-btn {
				width: 100%;
				margin-bottom: 10px;
			}
		}
	}

	.welcome-info-b {
		flex-basis: auto;
		display: none;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.login {
		flex-direction: column;
		height: auto;
	}

	.welcome-info {
		flex-basis: auto;
		background-image: none;
		padding: 30px;
	}

	.welcome-info-login {
		flex-basis: auto;
		margin-top: 20px;
		align-items: stretch;
		justify-content: stretch;

		.login-sign-signup-container {
			max-height: none;
			min-width: none;
			height: auto;
			width: 100%;

			.login-signup-header {
				margin-bottom: 10px;
			}

			.sign-out-btn {
				width: 100%;
				margin-bottom: 10px;
			}
		}
	}

	.welcome-info-b {
		flex-basis: auto;
		display: none;
	}
}
.login {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	height: 92vh;
	.welcome-info {
		flex-basis: 30%;
		background-image: url('../../public/Polygonluminary.svg');
	}
	.welcome-info-login {
		flex-basis: 33%;
		display: flex;
		align-items: center;
		justify-content: center;
		.login-sign-signup-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: auto;
			box-sizing: border-box;
			max-height: 70vh;
			min-width: 66%;

			.login-signup-header {
				text-align: center;
				margin-bottom: 20px;
			}

			.sign-out-btn {
				width: 33%;
				padding: 10px 20px;
				margin-bottom: 10px;
			}

			.login-signup-body {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 10px;
				flex-grow: 1;
				background-color: $text-color-white;
				border-radius: 8px;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

				.login-signup-title {
					width: 96%;
					ul {
						list-style-type: none;
						display: flex;
						flex-flow: row nowrap;
						justify-content: space-around;
						padding: 0 10px;
						font-weight: bold;
						line-height: 1.6rem;
					}
				}

				.login-signup-auth0-buttons {
					width: 80%;
					transition: background-color 0.3s ease;

					span {
						position: absolute;
						display: flex;
						align-items: center;
						margin-left: 10px;
					}
				}

				.login-signup-form {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 10px;
					flex-grow: 1;

					p {
						text-align: center;
					}

					form {
						width: 100%;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						gap: 10px;
						flex-grow: 1;

						.log-in-up-email,
						.log-in-up-password {
							display: flex;
							align-items: center;
							justify-content: center;
							width: 100%;
							input {
								width: 80%;
								padding: 8px 16px;
								margin: 0 2%;
							}
						}
					}
				}
				.error {
					color: $accent-color;
					font-size: 12px;
				}
				.reset-log-in-up-link {
					text-align: center;
					margin-bottom: 2px;
					p {
						text-decoration: underline double $primary-color;
						cursor: pointer;
					}
				}

				.log-in-up-button {
					text-align: center;
					width: 100%;
					button {
						width: 100%;
						margin-left: 0;
						margin-bottom: 0;
						border-top-left-radius: 0;
						border-top-right-radius: 0;
						border-bottom-left-radius: 8px;
						border-bottom-right-radius: 8px;
						padding: 20px 0;
					}
				}
			}
		}
	}

	.welcome-info-b {
		flex-basis: 33%;
		display: flex;
		align-items: center;
	}
}
