.notification {
	position: relative;
	top: 20px;
	right: 20px;
	background-color: #ffb74d;
	color: #000;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transition: opacity 0.3s ease;
	width: 50%;
	z-index: 9999;
	align-self: center;

	p {
		margin: 0;
		font-size: 14px;
		line-height: 1.4;
	}

	button {
		margin-top: 10px;
		padding: 6px 10px;
		background-color: #fff;
		border: none;
		border-radius: 3px;
		font-size: 14px;
	}
}
