@import 'mediaScreen';
@import 'colorVariables';

.pagination {
	display: flex;
	flex-flow: row wrap;
	.skip-menu {
		background-color: $primary-color-dark;

		&.notactive {
			opacity: 0.2;
		}
	}
	button {
		@media screen and (max-width: $breakpoint-ipadAir) {
			background-color: $text-color-white;
			color: $text-color-dark;

			&.active {
				background-color: $text-color-white;
				color: $text-color-dark;
			}
		}
		@media screen and (min-width: $breakpoint-xlarge) {
			&.active {
				background-color: $text-color-white;
				color: $text-color-dark;
			}
		}
		color: $text-color-white;
		background-color: $primary-color;
	}
}
