//todos - job-applications table to be updated per each application made. we need stats to show on the stats cards

@import 'light';
@import 'dark';
$slate: #8892b0;
$slate-dark-variant: #1c1c1c;
$slate-lightest-variant: #eff1f3;
.root {
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;

	&.light {
		@import 'light';
		background-color: $background-color;
		color: $text-primary;
	}
	&.dark {
		@import 'dark';
		background-color: $background-color;
		color: $text-primary;
	}
	.navigation {
		display: flex;
		align-items: center;
		position: sticky;
		top: 0;
		z-index: 100;
		margin-bottom: 32px;
		clear: both;
		height: 70px;
		border-bottom: 0.1px solid $border-color;
		&.light {
			@import 'light';
			background-color: $slate-lightest-variant;
			color: $text-primary;
		}
		&.dark {
			@import 'dark';
			background-color: $background-color;
			color: $text-primary;
		}
		button {
			order: 3;
			&.light {
				@import 'light';
				background-color: $slate-lightest-variant;
				color: $text-primary;
			}
			&.dark {
				@import 'dark';
				background-color: $background-color;
				color: $text-primary;
			}
		}
		.logo {
			order: 1;
			flex-basis: 29%;
			margin-left: 8px;
		}
		.nav {
			order: 2;
			flex-basis: 29%;
			margin-right: 55px;

			ul {
				padding-left: 0;
				list-style-type: none;
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				a {
					text-decoration: none;
					color: inherit;
				}
			}
		}
	}

	.home {
		display: flex;
		justify-content: space-between;

		.profile {
			flex-basis: 25%;
			min-height: 66vh;
			max-height: 70vh;
			border: none;
			position: sticky;
			top: 102px;
			border-radius: 8px;
			margin-left: 8px;
			padding: 16px;
			background-color: $slate-lightest-variant;
			box-shadow: 0px 4px 6px rgbs(0, 0, 0, 0.45);
		}
		.main {
			flex-basis: 71%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
			margin-left: 8px;

			.search {
				width: 66%;
				height: 70px;
				margin-bottom: 32px;
			}
			.job-list {
				display: flex;
				justify-content: space-between;

				.job-card {
					flex-basis: 66%;
					position: relative;

					.card {
						border: 1px solid;
						border-radius: 8px;
						box-shadow: 0px 2px 6px rgbs(0, 0, 0, 0.15);
						padding: 16px;
						margin-bottom: 32px;
						&.light {
							@import 'light';

							border: $slate;
						}
						&.dark {
							@import 'dark';
							border: $slate-dark-variant;
						}

						p {
							margin-bottom: 8px;
						}
						button {
							border: none;
							width: 33%;
							border-radius: 4px;
							padding: 8px 16px;
							margin: 8px;
							font-size: 14px;
							cursor: pointer;
							transition: background-color 0.3s ease;
							&:hover {
								background-color: $primary-color;
							}
						}
					}
				}
				.stat-card {
					flex-basis: 25%;
				}
			}
		}
	}

	.footer {
		background-color: inherit;
		color: inherit;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 10px;
	}
}
