.root {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: #f5f5f5;
  font-family: Montserrat, sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 400 Regular;
}

.root .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 32px;
  padding: 0 16px;
  clear: both;
  height: 70px;
  background-color: #2c6bed;
  color: #fff;
  font-weight: 600 Semi-Bold;
  font-size: 18px;
}

.root .navigation .logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
  margin-left: 8px;
}

.root .navigation .nav {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
  margin-right: 55px;
}

.root .navigation .nav ul {
  padding-left: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.root .navigation .nav ul a {
  text-decoration: none;
  color: inherit;
}

.root .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.root .home .profile {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  min-height: 66vh;
  max-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 10px;
  border: none;
  position: -webkit-sticky;
  position: sticky;
  top: 102px;
  border-radius: 8px;
  margin-left: 8px;
  padding: 16px;
  -webkit-box-shadow: 0px 4px 6px rgbs(0, 0, 0, 0.45);
          box-shadow: 0px 4px 6px rgbs(0, 0, 0, 0.45);
}

.root .home .profile .avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #ff8c00;
}

.root .home .profile .contact {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.root .home .profile .stats {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.root .home .main {
  -ms-flex-preferred-size: 71%;
      flex-basis: 71%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 8px;
}

.root .home .main .search {
  width: 66%;
  height: 70px;
  margin-bottom: 32px;
  padding: 0 16px;
}

.root .home .main .job-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.root .home .main .job-list .job-card {
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%;
  position: relative;
}

.root .home .main .job-list .job-card .card {
  border: 1px solid #7fa8ff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 6px rgbs(0, 0, 0, 0.15);
          box-shadow: 0px 2px 6px rgbs(0, 0, 0, 0.15);
  padding: 16px;
  margin-bottom: 32px;
}

.root .home .main .job-list .job-card .card p {
  margin-bottom: 8px;
}

.root .home .main .job-list .job-card .card button {
  border: none;
  background-color: #0049b7;
  color: #fff;
  width: 33%;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 8px;
  font-size: 14px;
  font-weight: 500 Medium;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.root .home .main .job-list .job-card .card button:hover {
  background-color: #7fa8ff;
}

.root .home .main .job-list .stat-card {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.root .footer {
  background-color: inherit;
  color: inherit;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */