//todos - job-applications table to be updated per each application made. we need stats to show on the stats cards
// Primary Colors
$primary-color: #2c6bed; // Main primary color
$primary-color-light: #7fa8ff; // Lighter shade of primary color
$primary-color-dark: #0049b7; // Darker shade of primary color

// Secondary Colors
$secondary-color: #ff8c00; // Main secondary color
$secondary-color-light: #ffb74d; // Lighter shade of secondary color
$secondary-color-dark: #c75c00; // Darker shade of secondary color

// Background Colors
$body-background-color: #f5f5f5; // Background color for the body

// Text Colors
$text-color: #333333; // Main text color
$text-color-light: #666666; // Lighter shade of text color
$text-color-dark: #000000; // Darker shade of text color
$text-color-white: #fff;

// Button Colors
$button-background-color: $primary-color; // Background color for buttons
$button-text-color: #ffffff; // Text color for buttons
$button-hover-background-color: $primary-color-dark; // Background color on button hover
$button-hover-text-color: #ffffff; // Text color on button hover

// Border Colors
$border-color: #cccccc; // Color for borders

// Additional Colors (Optional)
$accent-color: #e91e63; // Accent color for highlighting certain elements

.root {
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	background-color: $body-background-color;
	font-family: Montserrat, sans-serif, Arial, Helvetica, sans-serif;
	font-weight: 400 (Regular);

	input,
	button,
	svg {
		cursor: pointer;
	}
	button {
		background-color: $primary-color-dark;
		color: $text-color-white;
		padding: 8px 16px;
		margin: 8px;
		font-size: 14px;
		font-weight: 500 (Medium);
		border: none;
		border-radius: 4px;
		&:hover {
			background-color: $primary-color;
		}
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	.navigation {
		display: flex;
		align-items: center;
		gap: 3%;
		position: sticky;
		top: 0;
		z-index: 100;
		margin-bottom: 32px;
		padding: 0 36px;
		height: 70px;
		background-color: $primary-color;
		color: $text-color-white;

		font-weight: 600 (Semi-Bold);
		font-size: 18px;

		.logo {
			order: 1;
			flex-basis: 25%;
			margin-left: 8px;
		}
		.nav {
			order: 2;
			flex-basis: 29%;
			padding-left: 16px;
			margin-right: 55px;

			ul {
				padding-left: 0;
				list-style-type: none;
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
			}
		}
	}

	.home {
		display: flex;
		justify-content: space-between;
		margin: 10px 20px;

		.profile {
			flex-basis: 25%;
			min-height: 66vh;
			max-height: 70vh;
			display: flex;
			flex-flow: column nowrap;
			gap: 10px;
			border: none;
			position: sticky;
			top: 102px;
			border-radius: 8px;
			margin-left: 8px;
			padding: 0 16px;
			box-shadow: 0px 4px 6px rgbs(0, 0, 0, 0.45);
			position: sticky;
			top: 102px;

			.avatar {
				height: 70px;
				width: 70px;
				border-radius: 50%;
				background-color: $secondary-color;
			}

			.contact {
				flex-basis: 33%;
			}

			.stats {
				flex-basis: 33%;
			}
		}

		.create-profile {
			min-height: auto;
			padding-left: 0;

			&.active {
				border: 1px solid $primary-color-light;
			}
			.profile-header {
				font-size: 14px;
				padding-left: 16px;
			}
			.about-me-display {
				display: flex;
				flex-flow: rows nowrap;

				border: 1px dotted $primary-color-light;
				border-radius: 8px;
				padding: 16px;

				.about-me-person-photo {
					position: relative;

					.about-me-addProfile-button {
						position: absolute;
						right: 0;
						bottom: 8px;
					}
				}

				.about-me-personalInfo {
					margin-left: 16px;
				}
			}
			.about-me {
				display: flex;
				flex-flow: column nowrap;
				justify-content: space-between;
				gap: 16px;
				padding: 16px;
				border: 1px dotted $primary-color-light;
				border-radius: 8px;
				flex-basis: 25%;

				input {
					width: 100%;
					line-height: 1.8rem;
					border: 1px solid $primary-color-light;
				}
				button {
					margin-left: 0;
				}
			}
			.work-history {
				display: flex;
				flex-flow: column;
				margin: 32px 0;
				justify-content: space-around;
				padding: 16px;
				border: 1px dotted $primary-color-light;
				border-radius: 8px;
			}
			.work-experience-form {
				input {
					line-height: 1.5rem;
					margin: 0 10px 10px 0;
					width: 45%;
				}
				textarea {
					max-width: 200px;
					border: 1px solid $primary-color-light;
				}
			}
		}
		.main {
			flex-basis: 71%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
			margin-left: 16px;

			.search {
				height: 170px;
				margin-bottom: 32px;
				display: flex;
				flex-flow: row-reverse nowrap;
				gap: 2%;

				.search-layout-adjust {
					flex-basis: 42%;
				}
				.search-layout {
					flex-basis: 56%;
					display: flex;
					flex-flow: column nowrap;

					.main-search {
						display: flex;
						flex-flow: row;
						justify-content: space-between;
						align-items: center;

						.main-search-input {
							flex-basis: 80%;

							input {
								width: 100%;
								line-height: 1.6rem;
								padding-left: 16px;
								border: 1px solid $primary-color-light;
							}
						}
						button {
							flex-basis: 20%;
						}
					}
					.filter-inputs {
						display: flex;
						flex-flow: row nowrap;
						justify-content: space-between;
						padding-left: 16px;
					}
				}
			}

			.job-list {
				display: flex;
				justify-content: space-between;

				.job-card {
					flex-basis: 56%;
					position: relative;

					.card {
						border: 1px solid $primary-color-light;
						border-radius: 8px;
						box-shadow: 0px 2px 6px rgbs(0, 0, 0, 0.15);
						padding: 16px;
						margin-bottom: 32px;
						display: flex;
						flex-flow: row nowrap;
						button {
							border: none;

							margin: 8px;

							transition: background-color 0.3s ease;
							&:hover {
								background-color: $primary-color-dark;
							}
						}

						.job-details {
							margin: 0;
							padding: 0;
							h3 {
								padding: 0;
								margin: 0;
							}
							p {
								margin-bottom: 8px;
							}
						}
						.application-action {
							height: 30px;
							display: flex;
							flex-flow: row nowrap;
							gap: 20px;
							align-items: center;
						}
					}
					.pagination {
						button {
							color: $text-color-white;
							background-color: #a3a3a3;
						}
					}
				}
				.gov-jobsCard {
					flex-basis: 42%;

					margin: 0;

					.decimilar {
						display: flex;
						flex-flow: column;
						align-items: center;
						h3 {
							padding: 0;
							margin: 0;
							color: $accent-color;
						}
						p {
							font-style: italic;
						}
					}
					.gov-jobs {
						text-align: center;
					}
					.gov-card {
						border: 1px dotted $primary-color-light;
						margin-bottom: 32px;
						padding: 16px;
						border-radius: 8px;
						.apply-link {
							color: $text-color-white;
							box-shadow: '0 2px 4px rgba(0, 0, 0, 0.2)';
							border-radius: '4px';
						}
					}
					.pagination {
						.skip-menu {
							background-color: $primary-color-dark;
						}
						.page-numbers {
							background-color: #000000;
						}
						.active {
							border: 1px solid red;
						}
					}
				}
			}
		}
	}
	.login {
		display: flex;
		flex-direction: column;
		align-items: center;

		.form-header {
			margin-bottom: 20px;
		}

		.form-fields {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;
			min-width: 300px;

			label {
				margin-bottom: 10px;
			}

			input[type='text'],
			input[type='password'] {
				padding: 8px;
				border: 1px solid $primary-color-light;
				border-radius: 4px;
				margin-bottom: 10px;
				width: 100%;
			}

			button[type='submit'] {
				padding: 8px 12px;
				border-radius: 4px;
				color: $text-color-white;
				border: none;
				cursor: pointer;
			}
		}

		.social-auth {
			button[type='button'] {
				padding: 8px 12px;
				border: 1px solid #ccc;
				border-radius: 4px;
				background-color: #fff;
				color: #007bff;
				cursor: pointer;
			}
		}
	}

	.footer {
		background-color: inherit;
		color: inherit;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 10px;
	}
}
